In [46]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 2.7 MB/s eta 0:00:01
Installing collected packages: unidecode
Successfully installed unidecode-1.3.4

In [1]:
import os
import duckdb
import charade
import unidecode
import pandas as pd

## Importing train tables from DuckDB

In [2]:
# connect
db_path = os.path.join('db', 'db.duckdb')
conn = duckdb.connect(db_path, read_only=True)

In [3]:
train1_df = conn.execute('SELECT * FROM train1').fetchdf()
train2_df = conn.execute('SELECT * FROM train2').fetchdf()
train3_df = conn.execute('SELECT * FROM train3').fetchdf()
train4_df = conn.execute('SELECT * FROM train4').fetchdf()
train5_df = conn.execute('SELECT * FROM train5').fetchdf()
train6_df = conn.execute('SELECT * FROM train6').fetchdf()
train7_df = conn.execute('SELECT * FROM train7').fetchdf()
train8_df = conn.execute('SELECT * FROM train8').fetchdf()

print(train1_df.shape)
print(train2_df.shape)
print(train3_df.shape)
print(train4_df.shape)
print(train5_df.shape)
print(train6_df.shape)
print(train7_df.shape)
print(train8_df.shape)

print(train1_df.columns)
print(train2_df.columns)
print(train3_df.columns)
print(train4_df.columns)
print(train5_df.columns)
print(train6_df.columns)
print(train7_df.columns)
print(train8_df.columns)

frames = [train1_df,train2_df,train3_df,train4_df,train5_df,train6_df,train7_df,train8_df]

full_train_df = pd.concat(frames)

(963, 9)
(993, 9)
(951, 9)
(1049, 9)
(974, 9)
(1001, 9)
(1035, 9)
(993, 9)
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')
Index(['Unnamed: 0', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'endYear', 'runtimeMinutes', 'numVotes', 'label'],
      dtype='object')

In [4]:
print(full_train_df)

     Unnamed: 0     tconst                                   primaryTitle  \
0             4  tt0010600                                       The Doll
1             7  tt0011841                                  Way Down East
2             9  tt0012494                                        Déstiny
3            25  tt0015163                                  The Navigator
4            38  tt0016220                       The Phantom of the Opera
..          ...        ...                                            ...
988        9966  tt9625664                                  Trauma Center
989        9981  tt9741310                                          Slaxx
990        9982  tt9742392                                        Kindred
991        9996  tt9850386  The Bee Gees: How Can You Mend a Broken Heart
992        9999  tt9911196                            The Marriage Escape

                      originalTitle startYear endYear runtimeMinutes  \
0                         Die Puppe      1919      \N             66
1                     Way Down East      1920      \N            145
2                      Der müde Tod      1921      \N             97
3                     The Navigator      1924      \N             59
4          The Phantom of the Opera      1925      \N             93
..                              ...       ...     ...            ...
988                             NaN      2019      \N             87
989                           Slaxx      2020      \N             77
990                         Kindred      2020      \N            101
991                             NaN      2020      \N            111
992  De beentjes van Sint-Hildegard      2020      \N            103

     numVotes  label
0      1898.0   True
1      5376.0   True
2      5842.0   True
3      9652.0   True
4     17887.0   True
..        ...    ...
988   12951.0  False
989    2464.0  False
990    1719.0  False
991    4144.0   True
992    3242.0   True

[7959 rows x 9 columns]

## Getting data from IMDB

In [5]:
import requests
import gzip
from io import StringIO

title_basics_gz_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
try:
    response = requests.get(title_basics_gz_url)
    unzipped = gzip.decompress(response.content).decode()
    title_basics_df = pd.read_csv(StringIO(unzipped), sep='\t', header=None)
except Exception as e:
    print(f"Error: {e}")

/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
new_header = title_basics_df.iloc[0] 
title_basics_df = title_basics_df[1:] #take the data less the header row
title_basics_df.columns = new_header #set the header row as the df header
title_basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
1,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
2,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
3,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
4,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
5,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

### Filter imdb dataset for only the relevant tconsts

In [11]:
%%time
relevant_tconsts = full_train_df['tconst']
mask = title_basics_df['tconst'].isin(relevant_tconsts)
relevant_title_basics_df = title_basics_df[mask]

CPU times: user 379 ms, sys: 2.8 ms, total: 382 ms
Wall time: 379 ms

In [12]:
print(relevant_title_basics_df)

0           tconst titleType                                   primaryTitle  \
9238     tt0009369     movie                                         Mickey
10459    tt0010600     movie                                       The Doll
11279    tt0011439     movie                              The Mark of Zorro
11447    tt0011607     movie                             The Parson's Widow
11676    tt0011841     movie                                  Way Down East
...            ...       ...                                            ...
8744873  tt9850344     movie                                    Night Shift
8744892  tt9850386     movie  The Bee Gees: How Can You Mend a Broken Heart
8768128  tt9900782     movie                                         Kaithi
8770015  tt9904802     movie                                    Enemy Lines
8772977  tt9911196     movie                            The Marriage Escape

0                                        originalTitle isAdult startYear  \
9238                                            Mickey       0      1918
10459                                        Die Puppe       0      1919
11279                                The Mark of Zorro       0      1920
11447                                       Prästänkan       0      1920
11676                                    Way Down East       0      1920
...                                                ...     ...       ...
8744873                                         Police       0      2020
8744892  The Bee Gees: How Can You Mend a Broken Heart       0      2020
8768128                                         Kaithi       0      2019
8770015                                    Enemy Lines       0      2020
8772977                 De beentjes van Sint-Hildegard       0      2020

0       endYear runtimeMinutes                       genres
9238         \N             93                 Comedy,Drama
10459        \N             66               Comedy,Fantasy
11279        \N             79    Adventure,Romance,Western
11447        \N             94          Comedy,Drama,Horror
11676        \N            145                Drama,Romance
...         ...            ...                          ...
8744873      \N             98                  Crime,Drama
8744892      \N            111  Biography,Documentary,Music
8768128      \N            145        Action,Crime,Thriller
8770015      \N             92                          War
8772977      \N            103                 Comedy,Drama

[7959 rows x 9 columns]

## Creating single column dataframes

In [75]:
primary_title = []
for i in range(len(full_train_df)):
    primary_title.append(unidecode.unidecode(full_train_df.iloc[i]['primaryTitle']))
primary_title_df = pd.DataFrame(primary_title, index=full_train_df['tconst'], columns=['primary_title'])

In [77]:
original_title = []
for i in range(len(full_train_df)):
    curr = full_train_df.iloc[i]['originalTitle']
    curr_primary_title = full_train_df.iloc[i]['primaryTitle']
    if isinstance(curr, str):
        original_title.append(unidecode.unidecode(curr))
    else:
        original_title.append('')
original_title_df = pd.DataFrame(original_title, index=full_train_df['tconst'], columns=['original_title'])

In [78]:
start_year = []
for i in range(len(full_train_df)):
    curr = full_train_df.iloc[i]['startYear']
    if curr == "\\N":
        curr_tconst = full_train_df.iloc[i]['tconst']
        imdb_year = int(relevant_title_basics_df[relevant_title_basics_df['tconst'] == curr_tconst]['startYear'].values[0])
        start_year.append(imdb_year)
    else:
        start_year.append(int(curr))
start_year_df = pd.DataFrame(start_year, index=full_train_df['tconst'], columns=['start_year'])

In [79]:
end_year = []
for i in range(len(full_train_df)):
    curr = full_train_df.iloc[i]['endYear']
    if curr == "\\N":
        end_year.append(int())
    else:
        end_year.append(int(curr))
end_year_df = pd.DataFrame(end_year, index=full_train_df['tconst'], columns=['end_year'])

In [80]:
runtime_minutes = []
for i in range(len(full_train_df)):
    curr = full_train_df.iloc[i]['runtimeMinutes']
    if curr == "\\N":
        curr_tconst = full_train_df.iloc[i]['tconst']
        imdb_runtime = relevant_title_basics_df[relevant_title_basics_df['tconst'] == curr_tconst]['runtimeMinutes'].values[0]
        if imdb_runtime == "\\N":
            runtime_minutes.append(int())
        else:
            runtime_minutes.append(int(imdb_runtime))
    else:
        runtime_minutes.append(int(curr))
runtime_df = pd.DataFrame(runtime_minutes, index=full_train_df['tconst'], columns=['runtime_minutes'])

In [162]:
num_votes = []
for i in range(len(full_train_df)):
    curr = full_train_df.iloc[i]['numVotes']
    if curr == 'nan' or curr == "NaN":
        curr_tconst = full_train_df.iloc[i]['tconst']
#         imdb_num_votes = relevant_title_basics_df[relevant_title_basics_df['tconst'] == curr_tconst]['runtimeMinutes'].values[0]
        num_votes.append(0)
    else:
        num_votes.append(float(curr))

num_votes_df = pd.DataFrame(num_votes, index=full_train_df['tconst'], columns=['num_votes'])
print(num_votes_df)

           num_votes
tconst
tt0010600     1898.0
tt0011841     5376.0
tt0012494     5842.0
tt0015163     9652.0
tt0016220    17887.0
...              ...
tt9625664    12951.0
tt9741310     2464.0
tt9742392     1719.0
tt9850386     4144.0
tt9911196     3242.0

[7959 rows x 1 columns]

## Machine Learning

In [97]:
print(full_train_df['label'])

0       True
1       True
2       True
3       True
4       True
       ...
988    False
989    False
990    False
991     True
992     True
Name: label, Length: 7959, dtype: bool

In [246]:
corr_labels = full_train_df['label'].values.astype('int')
labels = pd.DataFrame(corr_labels, index=full_train_df['tconst'], columns=['labels'])

In [247]:
print(labels['labels'])

tconst
tt0010600    1
tt0011841    1
tt0012494    1
tt0015163    1
tt0016220    1
            ..
tt9625664    0
tt9741310    0
tt9742392    0
tt9850386    1
tt9911196    1
Name: labels, Length: 7959, dtype: int64

In [275]:
# merged_df = pd.concat([primary_title_df, original_title_df, start_year_df, end_year_df, runtime_df], axis=1)
merged_df = pd.concat([start_year_df, end_year_df, runtime_df,num_votes_df], axis=1)
# merged_df = pd.concat([num_votes_df, runtime_df], axis=1)

In [276]:
print(merged_df)

           start_year  end_year  runtime_minutes  num_votes
tconst
tt0010600        1919         0               66     1898.0
tt0011841        1920         0              145     5376.0
tt0012494        1921         0               97     5842.0
tt0015163        1924         0               59     9652.0
tt0016220        1925         0               93    17887.0
...               ...       ...              ...        ...
tt9625664        2019         0               87    12951.0
tt9741310        2020         0               77     2464.0
tt9742392        2020         0              101     1719.0
tt9850386        2020         0              111     4144.0
tt9911196        2020         0              103     3242.0

[7959 rows x 4 columns]

In [277]:
import numpy as np
# print(len(merged_df) * 0.8)
X_train = merged_df[:6367]
X_test = merged_df[6367:]

y_train = labels['labels'][:6367]
y_test = labels['labels'][6367:]

# Check the dimension of the sets
print('X_train:',np.shape(X_train))
print('y_train:',np.shape(y_train))
print('X_test:',np.shape(X_test))
print('y_test:',np.shape(y_test))

X_train: (6367, 4)
y_train: (6367,)
X_test: (1592, 4)
y_test: (1592,)

In [278]:
import keras
from keras.models import Sequential   # importing Sequential model
from keras.layers import Dense        # importing Dense layers
import keras.optimizers
import tensorflow as tf

In [279]:
basic_model = Sequential()

In [280]:
# Adding layers to the model
# First layers: 16 neurons/perceptrons that takes the input and uses 'sigmoid' activation function.
basic_model.add(Dense(units = 16 , activation = 'sigmoid', input_shape = (2,))) 
# Second layer: 1 neuron/perceptron that takes the input from the 1st layers and gives output as 0 or 1.Activation used is 'Hard Sigmoid'
basic_model.add(Dense(1, activation = 'hard_sigmoid'))

In [281]:
sgd = tf.keras.optimizers.SGD(lr=0.5, momentum=0.9, nesterov=True)
basic_model.compile(loss = 'binary_crossentropy', optimizer = 'sgd', metrics = ['accuracy'])

/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/optimizer_v2/gradient_descent.py:102: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(SGD, self).__init__(name, **kwargs)

In [282]:
basic_model.compile(optimizer='adam',
              loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
              metrics=['accuracy'])
basic_model.fit(X_train, y_train, epochs=10)

Epoch 1/10

ValueError: in user code:

    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/engine/training.py", line 808, in train_step
        y_pred = self(x, training=True)
    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/utils/traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "/Users/casbertrams/opt/anaconda3/lib/python3.8/site-packages/keras/engine/input_spec.py", line 263, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_12" is incompatible with the layer: expected shape=(None, 2), found shape=(None, 4)

In [242]:
# Test, Loss and accuracy
loss_and_metrics = basic_model.evaluate(X_test, y_test)
print('Loss = ',loss_and_metrics[0])
print('Accuracy = ',loss_and_metrics[1])

50/50 [==============================] - 0s 945us/step - loss: nan - accuracy: 0.5421
Loss =  nan
Accuracy =  0.5420854091644287

In [283]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(4,)),
    keras.layers.Dense(16, activation=tf.nn.relu),
    keras.layers.Dense(16, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

In [ ]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50, batch_size=1)
test_loss, test_acc = model.evaluate(X_test, y_test)

Epoch 1/50
6367/6367 [==============================] - 4s 573us/step - loss: nan - accuracy: 0.4878
Epoch 2/50
1906/6367 [=======>......................] - ETA: 2s - loss: nan - accuracy: 0.4990